---
import { type CollectionEntry, getCollection } from 'astro:content'

import BaseLayout from '../../layouts/Default.astro'

import Hero from '../../components/ui/Hero.astro'
import Pill from '../../components/ui/Pill.astro'
import Breadcrumbs from '../../components/Breadcrumbs.astro'
import { extractTitle, slugify } from 'src/lib/content'

interface Props {
  entry: CollectionEntry<'posts'>
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
  const posts = await getCollection('posts')
  return posts
    .filter((post) => !post.data.isDraft)
    .map((entry) => ({
      params: { slug: entry.slug },
      props: { entry }
    }))
}

const { entry } = Astro.props
const { Content } = await entry.render()

let { description, tags, banner, banner_alt } = entry.data,
  title = extractTitle(entry.data)
---

<BaseLayout title={title} description={description}>
  <main
    class:list={[
      'w-full px-12',
      'flex flex-col md:flex-row-reverse items-center md:items-stretch gap-12 justify-center'
    ]}
  >
    <aside
      class:list={[
        'mx-auto md:mx-0 sticky top-10 md:min-h-96 p-4 rounded bg-stone-100 dark:bg-stone-900',
        'border-2 border-solid border-primary-900 dark:border-primary-700',
        'md:flex-[0.4] lg:flex-[0.6] xl:flex-[0.8] self-start',
        'shadow-md shadow-primary-500'
      ]}
    >
      <Breadcrumbs />

      <ul class:list={['tags flex flex-wrap gap-2']}>
        {
          tags?.map((t) => (
            <li
              class:list={[
                'tag py-1 px-3 rounded-full',
                'border-2 border-solid border-primary-700 dark:border-primary-300'
              ]}
            >
              <a href={`/tags/${slugify(t)}`} class:list={['tag']}>
                {t}
              </a>
            </li>
          ))
        }
      </ul>
    </aside>

    <section class='content flex flex-col gap-10 prose max-w-3xl px-0'>
      <Hero title={title} align='start'>
        <div class='details'>
          <p class='description text-md mb-4'>{description}</p>
        </div>
      </Hero>

      {entry.data.banner && <img src={banner} alt={banner_alt || title} />}

      <Content />
    </section>
  </main>
</BaseLayout>

<style>
  header {
    padding-bottom: 2.5rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .description {
    max-width: 54ch;
  }

  .content {
    margin-inline: auto;
  }
</style>
