---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import type { Frontmatter } from "@types";
import getUniqueTags from "@utils/getUniqueTags";
import { slugify } from "@utils/slugify";
import { CollectionEntry, getCollection } from "astro:content";

export interface Props {
  tag: string;
}

export async function getStaticPaths() {
  const posts: Frontmatter[] = await getCollection("writing");
  const tags = getUniqueTags(posts);

  return tags.map((tag) => ({ params: { tag } }));
}

const { tag } = Astro.params;
const postsByTag: Frontmatter[] = await getCollection(
  "writing",
  (entry): entry is CollectionEntry<"writing"> => {
    if (!tag) return false;
    return entry.data.tags?.includes(tag) ?? false;
  }
);
---

<Layout title={`Tag:${tag} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle={`Tag:${tag}`} pageDesc={`All posts with the tag "${tag}".`}>
    <ul>
      {
        postsByTag.map((post) => (
          <Card href={`/writing/${slugify(post)}`} post={post} />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
