---
import { getCollection } from 'astro:content'
import { sortContent } from 'src/lib/content'

import { SITE } from 'src/config'

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from 'src/layouts/Default.astro'
import Hero from 'src/components/ui/Hero.astro'

// Component Imports
import ContentPreview from 'src/components/ContentPreview.astro'

const siteOwnerName = SITE.owner.name,
  pageTitle = `Hi! I'm ${siteOwnerName}.`,
  pageDescription = `Software Engineer, Wannabe Mechanic, Gamer.`
---

<BaseLayout
  title={`${pageTitle} | ${siteOwnerName}`}
  description={pageDescription}
>
  <main class='about flex flex-col gap-20 max-w-3xl mx-auto px-4'>
    <Hero title={pageTitle} align='start'>
      <!-- <div class='img-container max-w-xl mx-auto overflow-hidden'> -->
      <!--   <img -->
      <!--     class='w-full h-full object-cover object-center' -->
      <!--     width='1553' -->
      <!--     height='873' -->
      <!--     {...SITE.assets.profile} -->
      <!--   /> -->
      <!-- </div> -->
    </Hero>

    <div class='prose w-full content'>
      <h2>
        Software Engineer 
        <span class="block text-sm">
          with a passion for...
        </span>
      </h2>

      <ul>
        <li>solving problems that annoy me</li>
        <li>sharing/automating the process</li>
      </ul>

      <h2 class='text-xl'>
        When I'm not working, 
        <span class="block text-sm">
          you can catch me...
        </span>
      </h2>

      <ul>
        <li>
          gaming, exploring worlds and checking out the systems
        </li>
        <li>
          tinkering with my latest find on Facebook Marketplace/eBay
        </li>
        <li>
          thinking/writing/reading anywhere and about anything, in a hammock
        </li>
      </ul>

      <h3>
        How to learn more
        <span class="block text-sm">
          about me and...
        </span>
      </h3>

      <ul>
        <li>
          the tech and equipment I
          <a href="/about/uses">use</a>
        </li>
        <li>
          all my stats from
          <a href='/about/steam'>steam</a>
        </li>
        <li>
          all of the Companies and Projects I've 
          <a href="/about/resume3">worked</a>
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .img-container {
    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    font-size: var(--text-xl);
    color: var(--gray-0);
  }
</style>
