---
import { getCollection } from 'astro:content'

import BaseLayout from '../layouts/Default.astro'

import ContentPreview from '../components/ContentPreview.astro'
import Hero from '../components/ui/Hero.astro'
import Grid from '../components/ui/Grid.astro'
import { SITE } from '../config'
import { sortContent } from '../lib/content'

const siteOwnerName = SITE.owner.name,
  pageTitle = 'All Notes',
  pageDescription = 'Snippets, rants, and the occasional coherent thought.'

const allNotes = await getCollection('notes'),
  sortedNotes = sortContent(allNotes)
---

<BaseLayout
  title={`${pageTitle} | ${siteOwnerName}`}
  description={pageDescription}
>
  <main class='flex flex-col gap-8 max-w-3xl mx-auto px-4'>
    <Hero title={pageTitle} tagline={pageDescription} align='start' />

    <Grid variant='offset'>
      {
        sortedNotes.map((entry) => (
          <li>
            <ContentPreview entry={entry} />
          </li>
        ))
      }
    </Grid>
  </main>
</BaseLayout>
