---
import { getCollection } from 'astro:content'

import BaseLayout from '../layouts/Default.astro'

import ContentPreview from '../components/ContentPreview.astro'
import Hero from '../components/ui/Hero.astro'
import Grid from '../components/ui/Grid.astro'
import { SITE } from '../config'
import { sortContent } from 'src/lib/content'

const siteOwnerName = SITE.owner.name,
  pageTitle = `Work History`,
  pageDescription = 'Past, present, and future work and projects.'

const work = sortContent(await getCollection('work'))
---

<BaseLayout
  title={`${pageTitle} | ${siteOwnerName}`}
  description={pageDescription}
>
  <main class='flex flex-col gap-8 max-w-3xl mx-auto px-4'>
    <Hero title={pageTitle} tagline={pageDescription} align='start'>
      <span class='prose text-sm max-w-[54ch]'>
        Have ideas? I'm always curious in new (to me) and exciting projects.
        View my <a href='/about/resume'>Resume</a> or shoot an email to <code
          >hi[at]kuhree[dot]com</code
        >
      </span>
    </Hero>

    <Grid variant='offset'>
      {
        work.map((entry) => (
          <li>
            <ContentPreview entry={entry} />
          </li>
        ))
      }
    </Grid>
  </main>
</BaseLayout>
