---
import type { CollectionEntry } from 'astro:content'
import { extractTitle, slugify, truncate } from '../lib/content'

interface Props {
  entry: CollectionEntry<'work' | 'posts'>
}

const { data, slug, collection } = Astro.props.entry
const { description = '', publishedAt, banner, banner_alt, tags } = data,
  title = extractTitle(data),
  descriptionTruncated = truncate(description),
  url = `/${collection}/${slug}`
---

<article>
  <a
    class='img-container rounded-xl rounded-b-none aspect-1 h-32 md:h-48 w-32 md:w-48 overflow-hidden'
    href={url}
  >
    <img
      src={banner}
      alt={banner_alt || title}
      loading='lazy'
      decoding='async'
      class='object-cover object-center h-full w-full rounded-t-xl'
    />
  </a>

  <section
    class='flex flex-col px-4 py-2 bg-stone-200 dark:bg-stone-800 rounded-xl rounded-t-none'
  >
    <span class='date text-sm font-extralight mb-1'
      >{publishedAt.toLocaleDateString()}</span
    >
    <a href={url} class='prose title text-xl font-semibold mb-0'>
      {title}
    </a>
    {
      description ? (
        <span class='description prose mb-4'>{descriptionTruncated}</span>
      ) : null
    }
    <ul class='flex flex-wrap gap-2'>
      {
        tags?.slice(0, 4).map((tag) => (
          <li class='text-sm font-light border-2 border-solid border-primary-300 rounded-xl px-2 py-1'>
            <a href={`/tags/${slugify(tag)}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </section>
</article>
