---
import type { CollectionEntry } from 'astro:content'
import { extractTitle } from 'src/lib/content'

interface Props {
  entry: CollectionEntry<'work' | 'posts'>
}

const { data, slug, collection } = Astro.props.entry
const { publishedAt, banner, banner_alt, tags } = data,
  title = extractTitle(data)
---

<article>
  <a
    class='img-container rounded-xl rounded-b-none aspect-1 h-32 md:h-48 w-32 md:w-48 overflow-hidden'
    href={`/${collection}/${slug}`}
  >
    <img
      src={banner}
      alt={banner_alt || title}
      loading='lazy'
      decoding='async'
      class='object-cover object-center h-full w-full rounded-t-xl'
    />
  </a>

  <section
    class='flex flex-col px-4 py-2 bg-stone-200 dark:bg-stone-800 rounded-xl rounded-t-none'
  >
    <span class='title text-xl font-semibold mb-0'>{title}</span>
    <span class='date'>{publishedAt.toLocaleDateString()}</span>
    <ul class='flex flex-wrap gap-2'>
      {
        tags?.map((tag) => (
          <li>
            <a href={`/tags/${tags}`} class='capitalize'>
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</article>
