---
import { SITE } from '../config'
import Icon from './ui/Icon.astro'
import ThemeToggle from './ThemeToggle.astro'
const currentYear = new Date().getFullYear()
const siteOwnerName = SITE.owner.name,
  siteOwnerLocation = SITE.owner.location,
  siteOwnerSocials = SITE.owner.socials
---

<footer
  class='flex flex-col gap-12 text-sm text-gray-400 mt-12 py-12 pt-8 text-center'
>

  <p class='socials flex justify-center gap-4 flex-wrap'>
    {
      siteOwnerSocials.map(([id, social]) => (
        <a
          href={social.url}
          class='hover:text-primary-700 dark:hover:text-primary-300 transition-colors ease-in-out'
        >
          <Icon
            icon={`${id.toLowerCase()}-logo` as `${typeof id}-logo`}
            size='1.2em'
          />
          {`${social.usernamePrefix}${social.username}`}
        </a>
      ))
    }
  </p>

  <div class='group flex flex-col gap-2'>
    <p>
      Designed & Developed in {siteOwnerLocation} with <a
        href='https://astro.build/'>Astro</a
      >
      <Icon icon='rocket-launch' size='1.2em' />
    </p>
    <p>&copy; {currentYear} {siteOwnerName}</p>
  </div>

  <div class='group flex flex-col gap-2 items-center'>
    <ThemeToggle />
  </div>
</footer>
