---
import BaseLayout from './Default.astro'

import type { Frontmatter } from 'src/content/config'
import Hero from '../components/ui/Hero.astro'
import { extractTitle, slugify } from '../lib/content'

interface Props {
  entry: Frontmatter
}

const { entry } = Astro.props
const { Content: MxContent } = await entry.render()

const { description, tags, links, banner, bannerAlt } = entry.data,
  title = extractTitle(entry.data)
---

<BaseLayout title={title} description={description}>
  <main
    class:list={[
      'w-full',
      'flex flex-col gap-12 px-12 items-center justify-start mx-auto max-w-screen-2xl'
    ]}
  >
    <Hero title={title} tagline={description} align='start'>
      <ul class:list={['tags flex flex-wrap gap-2 justify-center']}>
        {
          links?.map(({ name, url }) => (
            <li
              class:list={['tag py-1 px-3 rounded-full text-sm', 'underline']}
            >
              <a href={url} class:list={['tag']}>
                {name}
              </a>
            </li>
          ))
        }
      </ul>

      <ul class:list={['tags flex flex-wrap gap-2 justify-center']}>
        {
          tags?.map((t) => (
            <li
              class:list={[
                'tag py-1 px-3 rounded-full text-sm',
                'border-2 border-solid border-primary-700 dark:border-primary-300'
              ]}
            >
              <a href={`/tags/${slugify(t)}`} class:list={['tag']}>
                {t}
              </a>
            </li>
          ))
        }
      </ul>
    </Hero>

    {
      banner && banner !== '' && (
        <div class='container--banner max-w-xl w-full'>
          <img
            src={banner}
            alt={bannerAlt}
            class='object-center object-cover h-full w-full rounded-xl'
          />
        </div>
      )
    }

    <section class='content prose prose-pre:leading-5 prose-pre:text-xs'>
      <MxContent />
    </section>
  </main>
</BaseLayout>
